@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* background: #0e005a !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important; */
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --supcon-blue: 213 100% 45%;
  --supcon-blue-foreground: 0 0% 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
